<a href="https://colab.research.google.com/github/xjdeng/project_tables/blob/main/data_generation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
!pip install openai
import openai
from google.colab import drive
import pandas as pd
from io import StringIO
drive.mount('/content/drive')
%cd /content/drive/MyDrive/OtherML/Zerosystems
openai.api_key = "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"

Requirement already satisfied: openai in /usr/local/lib/python3.10/dist-packages (0.27.8)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.10/dist-packages (from openai) (2.27.1)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from openai) (4.65.0)
Requirement already satisfied: aiohttp in /usr/local/lib/python3.10/dist-packages (from openai) (3.8.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (2023.7.22)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (3.4)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (23.1.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (6.0.4)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (4.0.2)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (1.9.2)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (1.4.0)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (1.3.1)
Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
/content/drive/MyDrive/OtherML/Zerosystems

In [32]:
def askgpt(message, temperature = 1.0, model = "gpt-4"):
  chat_completion = openai.ChatCompletion.create(model=model, temperature = temperature, messages=[{"role": "user", "content": message}])
  return chat_completion.choices[0].message.content

In [5]:
with open("template.csv",'r') as f:
  template = f.read()

with open("table_A.csv",'r') as f:
  tableA = f.read()

with open("table_B.csv",'r') as f:
  tableB = f.read()

In [39]:
def generate_data(template = template, tables = [tableA, tableB], temperature = 1.0):
  msg = f"""

  In the financial sector, one of the routine tasks is mapping data from various sources in Excel tables. For example, a company may have a target format for employee health insurance tables (Template) and may receive tables from other departments with essentially the same information, but with different column names, different value formats, and duplicate or irrelevant columns.

  I'm trying to generate synthetic data to hopefully learn patterns and train a model.  The Template below is a sample .csv table containing the target format that I want to transform tables into.

  After the Template are example tables that can be transformed into the Template's format.  Please create an additional table in the .csv format that can be transformed into the Template's format. Note: the dates don't all have to be in May 2023.

  Template:

  ---

  {template}

  ---
  """
  for table in tables:
    add_msg = f"""

  Example Table:

  ---

  {table}

  ---


  """
    msg += add_msg

  msg += """

  Example Table:

  ---
  """

  return askgpt(msg, temperature = temperature)

In [41]:
test = generate_data(temperature = 2.0)
print(test)

Insurance Start Date,Staff Name,Plan Level,Policy Code,Premium Charged,Position,Education,Policy Commencement,Employee,Insurance Level,Policy Number,Cost Per Month
01.05.2023,Doe, John,Gold Package,12345-AB,150,Manager,Postgraduate,01.05.2023,John Doe,Gold,12345-AB,150
02.05.2023,Smith, Jane,Silver Package,67890-CD,100,Executive,Bachelor's,02.05.2023,Jane Smith,Silver,67890-CD,100
03.05.2023,Brown, Michael,Bronze Package,10111-EF,50,Assistant,High School,03.05.2023,Michael Brown,Bronze,10111-EF,50
04.05.2023,Johnson, Alice,Gold Package,12121-GH,150,Director,Master's,04.05.2023,Alice Johnson,Gold,12121-GH,150
06.05.2023,Wilson, Bob,Silver Package,13131-IJ,100,Officer,Diploma,06.05.2023,Bob Wilson,Silver,13131-IJ,100
07.05.2023,Martinez, Carol,Bronze Package,14141-KL,50,Technician,Vocational,07.05.2023,Carol Martinez,Bronze,14141-KL,50
08.05.2023,Anderson, David,Gold Package,15151-MN,150,Engineer,Ph.D.,08.05.2023,David Anderson,Gold,15151-MN,150
09.05.2023,Thomas, Eva,Silver Package,16161-OP,100,Clerk,Associate's,09.05.2023,Eva Thomas,Silver,16161-OP,100
10.05.2023,Jackson, Frank,Bronze Package,17171-QR,50,Intern,Unfinished High School,10.05.2023,Frank Jackson,Bronze,17171-QR,50
11.05.2023,White, Grace,Gold Package,18181-ST,150,Consultant,Professional,11.05.2023,Grace White,Gold,18181-ST,150

In [38]:
pd.read_csv(StringIO(test.strip()), sep=",", header=0)

,Policy Stamp,Emp_Name,Ins_Plan,PolicyCode,Cost_per_month,Fav_Sport,Date_of_birth,StartingDate,EmployeeName,InsurancePlan,PolicyCode.1,MonthlyPremium
0,2023/05/01,John Doe,Gold scheme,AB12345,150.0,Basketball,01/02/1995,2023/05/01,John Doe,Gold,AB12345,150.0
1,2023/05/02,Jane Smith,Silver scheme,CD67890,100.0,Tennis,03/04/1987,2023/05/02,Jane Smith,Silver,CD67890,100.0
2,2023/05/03,Michael Brown,Bronze scheme,EF10111,50.0,Football,05/06/1983,2023/05/03,Michael Brown,Bronze,EF10111,50.0
3,2023/05/04,Alice Johnson,Gold scheme,GH12121,150.0,Running,07/08/1990,2023/05/04,Alice Johnson,Gold,GH12121,150.0
4,2023/05/05,Bob Wilson,Silver scheme,IJ13131,100.0,Swimming,09/10/1988,2023/05/05,Bob Wilson,Silver,IJ13131,100.0
5,2023/05/06,Carol Martinez,Bronze scheme,KL14141,50.0,Cycling,11/12/1992,2023/05/06,Carol Martinez,Bronze,KL14141,50.0
6,2023/05/07,David Anderson,Gold scheme,MN15151,150.0,Golf,01/02/1985,2023/05/07,David Anderson,Gold,MN15151,150.0
7,2023/05/08,Eva Thomas,Silver scheme,OP16161,100.0,Baseball,03/04/1997,2023/05/08,Eva Thomas,Silver,OP16161,100.0
8,2023/05/09,Frank Jackson,Bronze scheme,QR17171,50.0,Soccer,05/06/1989,2023/05/09,Frank Jackson,Bronze,QR17171,50.0
9,2023/05/10,Grace White,Gold scheme,ST18181,150.0,Volleyball,07/08/1993,2023/05/10,Grace White,Gold,ST18181,150.0
10,---,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN